.container {
  margin: 120px 0;
  background-image: url("../../../../../public/assets/reviewImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}
@media (max-width: 576px) {
  .container {
    justify-content: center;
    align-items: center;
  }
}
