.container {
  margin: 120px 0;
  background-image: url("../../../../../public/assets/topDestReviewImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
@media screen and (max-width: 576px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
}
