.container {
  margin: 0 auto;
  padding: 0 72px;
}
.trend {
  display: flex;
  gap: 24px;
}
.container > p {
  margin-bottom: 40px;
  color: var(--gray-900, #141d24);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
}
@media (max-width: 576px) {
  .container {
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    max-width: 540px;
    overflow-x: scroll;
  }
  .container > p {
    color: var(--gray-900, #141d24);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    margin: 0 auto;
    padding-bottom: 24px;
  }
  .trend {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    gap:40px 25px;
    overflow-x: auto;
    flex: 1 1 calc(100%-40px);
    width: 100%;
  }
  
}