.reason {
  display: flex;
  /* width: 416px; */
  padding: 32px;
  align-items: center;
  gap: 16px;
  border-radius: 20px;
  background: var(--gray-50, #f5f7fa);
}

.reason button {
  border-radius: 100px;
  background: var(--violet-500, #4a21ef);
  display: flex;
  width: 60px;
  height: 60px;
  padding: 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: none;
  outline: none;
}
.reasonText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}
.reason p {
  color: var(--gray-900, #141d24);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  color: #141d24;
}
@media (max-width: 576px) {
  .reason {
    display: flex;
    padding: 32px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
    width: 100%;
  }
  .reason button {
    display: flex;
    width: 60px;
    height: 60px;
    padding: 18px;
    justify-content: center;
    align-items: center;
  }
  .reasonText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    flex: 1 0 0;
  }
}
