.container {
  margin: 0 auto;
  padding: 0 72px;
}
header {
  background-color: #f5f7fa;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21px 72px;
  /* background-color: white; */
}
.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  align-items: center;
}
.nav-middle {
  display: flex;
  align-items: center;
}
.links {
  display: flex;
  gap: 12px;
  list-style-type: none;
  align-items: center;
}
.link {
  color: var(--violet-900, #0f0339);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.lucky {
  padding: 12px 24px;
  border-radius: 24px;
  background: var(--violet-500, #4a21ef);
  gap: 8px;
  display: flex;
  justify-content: center;
  border: none;
}
.lucky-text {
  color: var(--primary-white, #fff);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.login {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 24px;
  border: 1px solid var(--violet-500, #4a21ef);
  background: var(--primary-white, #fff);
}
.login-text {
  color: var(--violet-500, #4a21ef);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.dNone {
  display: none;
}

@media (max-width: 576px) {
  .container {
    padding: 0px;
    max-width: 540px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav {
    position: relative;
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-50, #f5f7fa);
    background: var(--primary-white, #fff);
  }
  .accountMenu{
    position: absolute;
    background-color: #ffffffd7;
    z-index: 5;
    top: 100px;
    width: 540px;
    padding: 0 0 15px 0;  
  }
  .accountMenu > .accountItems > ul{
    list-style-type: none;
    color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .hamburgerMenu {
    position: absolute;
    background-color: #ffffffd7;
    z-index: 5;
    top: 100px;
    width: 540px;
    padding: 0 0 15px 0;    
  }
  .hamburgerMenu > .headerItems > ul {
    list-style-type: none;
    color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .hamburgerMenu > .headerItems > ul :hover {
    color: #0f0339;
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1.5);
  }
  
  .profile {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 24px;
    background: var(--violet-50, #eeecfe);
    width: 40px;
    height: 40px;
  }
  .profile :hover{
    cursor: pointer;
  }
  .menu-btn {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 8px;
  }
  .icon {
    /* font-size: 28px; */
    width: 24px;
    height: 24px;
  }
  .nav button :hover{
    cursor: pointer;
  }
  .nav-left button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  header {
    display: none;
  }
  .nav-left {
    display: none;
  }
  .nav-right {
    display: none;
  }
}

@media (min-width: 768px) {
  /* .container {
    max-width: 720px;
  } */
  .menu-btn,.profile {
    display: none;
  }
  
}

@media (min-width: 992px) {
  /* .container {
    max-width: 960px;
  } */

  .menu-btn,.profile {
    display: none;
  }
}
@media (min-width: 1200px) {
  /* .container {
    max-width: 1140px;
  } */

  .menu-btn,.profile {
    display: none;
  }
}

@media (min-width: 1400px) {
  /* .container {
    max-width: 1320px;
  } */

  .menu-btn,.profile {
    display: none;
  }
}
