.container {
    background-image: url('../../../../../public/assets/ItalyReviewMap.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  