.container {
  margin: 0 auto;
  padding: 0 72px;
}
.container > p {
  color: var(--gray-900, #141d24);
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 133.333% */
  margin-bottom: 80px;
}
.localImgs {
  display: flex;
}
.img1 {
  width: 100%;
  position: relative;
  bottom: 44px;
  left: 90px;
}
.img2 {
  width: 100%;
  position: relative;
  top: 44px;
}
.vector1 {
  position: absolute;
  top: 52px;
  right: 400px;
}
.vector2 {
  position: absolute;
  bottom: 32px;
  left: 340px;
}
.vector1 p {
  position: absolute;
  top: 20px;
  right: 30px;
  color: var(--gray-900, #141d24);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.vector2 p {
  position: absolute;
  top: 20px;
  left: 30px;
  color: var(--gray-900, #141d24);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.ourLocalExperts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.responsiveLocalImgs {
  display: none;
}
@media (max-width: 576px) {
  .container {
    display: flex;
    padding: 32px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
  .container > p {
    color: var(--gray-900, #141d24);
    text-align: center;

    /* XXL-40/Bold */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 166.667% */
    margin: 0 auto;
    padding-bottom: 48px;
  }
  .localImgs {
    display: none;
  }
  .responsiveLocalImgs {
    display: flex;
    flex-direction: column;
    padding: 24px 0px;
    align-items: flex-start;
    gap: 8px;
    margin: 0 auto;
    position: relative;
  }
  .vector1 {
    position: absolute;
    left: -85px;
    top:40px;
    width: 200px;
    height: 85px;
  }
  .vector2{
    position: absolute;
    width: 200px;
    height: 85px;
    bottom: 40px;
    left: 130px;
  }
}
